﻿<!DOCTYPE html>
<html>

<head lang="en">
    <base href='/'>
    <title>
        <%=htmlWebpackPlugin.options.title %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>    
    <pm-app></pm-app>    
    
</body>

</html>