<nav class="navbar navbar-default" *ngIf='loggedIn'>
    <div class="container">
        <div class='navbar-header'>
            <div>{{pageTitle}}</div>
        </div>
    </div>
    <ul class='nav navbar-nav navbar-right'>
        <li><a class='btn btn-link' (click)='logout()'>Logout</a></li>
    </ul>
</nav>

<section class='container'>
    <router-outlet></router-outlet>
</section>

<footer class=' nav navbar navbar-inverse  navbar-fixed-bottom' >
    <div class='text-center' style='color:white'>
        <br/>
    Copyright reserved!
</div>
</footer>