<div class="container">
    <div class="wrapper">
        <form novalidate class="form-signin" [formGroup]="userFormGroup" (ngSubmit)='onLogin()'>
            <h3 class="form-signin-heading">Welcome Back ! Please Sign In</h3>
            <hr class="colorgraph">
            <br>
            <div>
                <div class='form-group'>
                    <input type="email" placeholder="Your email address" class='form-control' formControlName="email">
                    <div class="alert alert-danger" *ngIf="userFormGroup.get('email').hasError('required')">
                        Email is required
                    </div>
                    <div class="alert alert-danger" *ngIf="!userFormGroup.get('email').hasError('required') && userFormGroup.get('email').hasError('emailDomain')">
                        Email must be on Gmail.com domain
                    </div>
                    <div class="alert alert-danger" *ngIf="!userFormGroup.get('email').hasError('required') && userFormGroup.get('email').hasError('emailFormat')">
                        Email not valid
                    </div>
                </div>
                <div class='form-group'>
                    <input type="password" placeholder="Password" class='form-control' formControlName="password">
                    <div class="alert alert-danger" *ngIf="userFormGroup.get('password').hasError('required')">
                        Password is required
                    </div>
                </div>
            </div>
            <button type="submit" class='btn btn-lg btn-primary btn-block'>Login</button>            
            <div *ngIf="loginError" class='alert alert-danger'>Login Incorrect!</div>
            
        </form>
        

    </div>
</div>





