span.stars, span.stars span {
    display: block;   
    background: url('/app/assets/images/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.alignright {
  float:right;
}