<article class='container'>
    <section class='clearfix'>
        <h2 class='text-muted'> {{pageTitle }}</h2>
        <form name='productForm' class='row' #prodForm = "ngForm" (ngSubmit)="onFormSave(prodForm)">
            <div class='col-md-6'>
                <div class='form-group'>
                    <label for='name'>
                            Product name
                            </label>
                    <input class='form-control' required type='text' name='name' 
                        id='name' [(ngModel)]="model.productName" #prodName="ngModel" />
                    <div class = 'alert alert-danger' *ngIf='prodName.errors && (prodName.dirty || prodName.touched)'>
                        Product Name is required
                    </div>
                </div>
                
                <div class='form-group'>
                    <label for='code'>
                Product Code
                </label>
                    <input class='form-control' required type='text' minlength="4" 
                    maxlength="9"  name='code' id='code' [(ngModel)]="model.productCode"
                    #prodCode = "ngModel"/>
                    <div class = 'alert alert-danger' *ngIf='prodCode.errors?.minlength && (prodCode.dirty || prodCode.touched)'>
                        Product Code should have atleast 3 chars
                    </div>
                    <div class = 'alert alert-danger' *ngIf='prodCode.errors?.required && (prodCode.dirty || prodCode.touched)'>
                        Product Code is required
                    </div>
                </div>
                <div class='form-group'>
                    <label for='availability'>
                Availability
                </label>
                    <input class='form-control' required  name='availability' id='availability' [(ngModel)]="model.releaseDate" />
                </div>
                <div class='form-group'>
                    <label for='price'>
                            Price
                            </label>
                    <input class='form-control' required type='text' name='price' id='price' [(ngModel)]="model.price" />
                </div>
                <div class='form-group'>
                    <label for='rating'>
                                        Rating
                                        </label>
                    <input class='form-control' type='text' name='rating' id='rating' [(ngModel)]="model.starRating" />
                </div>
                <div class='form-group'>
                    <label for='imageURL'>
                                                    Image imageURL
                                                    </label>
                    <input class='form-control' type='text' name='imageURL' id='imageURL'  [(ngModel)]="model.imageUrl"/>
                </div>
            </div>

            <!--Footer-->
            <div class='col-md-12'>   
                <button class='btn btn-primary' style='width: 100px' type='submit' [disabled]="prodForm.invalid">
                    <i class='glyphicon glyphicon-glyphicon-ok' > </i> Save
                </button>
            </div>
        </form>
        </section>
        <div class='alert alert-success' *ngIf='saveSuccess'>
            Product saved successfully
        </div>
        </article>
    