<div class='panel panel-primary'>
    <div class='panel-heading' boldHover>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row' [hidden]="hideFilter">
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter'/>
                {{listFilter}}
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: </h3>
            </div>
            <div class='col-md-6 pull-right text-right'>
                <button class='btn btn-default' routerLink='/add-product'>Add Product</button>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)='toggleImage()'>
                                Show Image
                            </button>
                        </th>
                        <th>Action</th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productsAsync | async " [ngClass]="{'text-success': hideFilter == true}">
                        <td><img style='width:10%' [src]='product.imageUrl' /> </td>
                        <td>
                            <a class='btn btn-sm btn-default' [routerLink]="['/edit-product/'+product._id]">
                                <i class='glyphicon glyphicon-edit'></i> Edit
                            </a>
                            <button class='btn btn-sm btn-default' (click)='onProdDel(product)'>
                                <i class='glyphicon glyphicon-trash'></i> Remove
                            </button>
                        </td>
                        <td>{{product.productName}}</td>
                        <td>{{product.productCode | lowercase}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | currency: 'USD': true : '3.1-2'}}</td>
                        <td><ai-star [rating]='product.starRating' (ratingClicked)='onClickStar($event)'></ai-star></td>

                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #loading>
    <div>Loading...</div>
</ng-template>